.TopBarDiv {
    
    box-sizing: border-box;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    height: 70px;

    .leftDiv {

        height: 100%;

        img {
            height: 100%;
        }

    }

    .centerDiv {

        height: 100%;

        .inputIcon {
            background-color: #4A4A4A;
            border-radius: 5px;
            width: 500px;
            height: 100%;
        }

    }

    .rightDiv {

        height: 100%;

        .buttonDiv {

            height: 100%;

            .buttonFocus {
                width: 100px;
                height: 100%;
                background-color: #E0760F;
            }
        }
    }
}