.filterDiv {
    // width: 300px;
    background: #323232;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .tr {
        background: #5B5B5B;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        margin: 30px 0px 20px 0px;
    }

    .titleDiv {
        display: flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }

        .text {
            color: #fff;
            font-size: 1.2em;
            margin: 0;
            margin-left: 10px;
        }
    }

    .title {
        color: #CBCBCB;
        font-size: 1.2em;
        margin: 0;
        margin-top: 30px;
    }

    .checkboxArrayDiv, .checkboxModLoaderDiv {

        margin-top: 25px;
        margin-left: 5px;

        .checkboxItem {
            margin-bottom: 10px;
        }
    }

    .selectVersionDiv {
        margin-top: 20px;
        margin-left: 5px;
    }
}
