.modsListDiv {
    margin-top: 70px;

    .centerDiv {
        display: flex;
        justify-content: space-around;

        .sider {
            flex-grow: 2;
        }

        .leftDiv {
            flex-grow: 1;
        }

        .rightDiv {
            margin-left: 20px;
            flex-grow: 10;
        }
    }

    .bottomDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 100px;
    }
}
