html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow-x: hidden;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-family: Roboto, Arial, sans-serif, --font-chinese-traditional;
    font-size: 100%;
    // font-size: 16px;
    vertical-align: baseline;
    box-sizing: border-box;
    background: #232323;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #979797;
}

html::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.5);
}

:root {
    --dark-01-color: #121212;
    --dark-02-color: #1B1B1B;
    --dark-03-color: #232323;
    --blue-01-color: #1C2230;
    --blue-02-color: #14213D;
    --blue-03-color: #5865F2;
    --blue-04-color: #4655F4;
    --orange-01-color: #E0760F;
    --orange-02-color: #CA6707;
    --orange-03-color: #FCA311;
    --white-01-color: #E5E5E5;
    --white-02-color: #F2F2F2;
    --white-03-color: #FFFFFF;

    --font-chinese-traditional: {
        Whitney,
        "Microsoft JhengHei",
        微軟正黑體,
        "Microsoft JhengHei UI",
        "Microsoft YaHei",
        微軟雅黑,
        宋体,
        SimSun,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif
    }
}